DATABASE_URL="postgresql://postgres.jnhlfskjmtuhzpmxiidr:ThabiMash%4010@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
DIRECT_URL="postgresql://postgres.jnhlfskjmtuhzpmxiidr:ThabiMash%4010@aws-0-eu-west-1.pooler.supabase.com:5432/postgres"
